---
version: 2
interactions:
    - id: 0
      request:
        host: oie-00.dne-okta.com
        body: |
            {"description":"Check disk encryption is enabled","mappingType":"CHECKBOX","name":"testAcc-1647730466","platform":"MACOS","query":"SELECT 1 FROM disk_encryption WHERE encrypted = 1;","remediationSettings":{"link":{"customUrl":"https://support.apple.com/en-us/HT204837"},"message":{"customText":"Please enable disk encryption."}},"type":"CUSTOM","variableName":"testAccDiskEncryption1647730466"}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://oie-00.dne-okta.com/api/v1/device-posture-checks
        method: POST
      response:
        body: '{"name":"testAcc-1647730466","variableName":"testAccDiskEncryption1647730466","query":"SELECT 1 FROM disk_encryption WHERE encrypted = 1;","description":"Check disk encryption is enabled","platform":"MACOS","type":"CUSTOM","mappingType":"CHECKBOX","remediationSettings":{"message":{"defaultI18nKey":null,"customText":"Please enable disk encryption."},"link":{"defaultUrl":null,"customUrl":"https://support.apple.com/en-us/HT204837"}},"id":"dpcxoiuot3o1sRPsU1d7","createdDate":"2026-04-17T05:16:32.000Z","createdBy":"00u5m6b6h6YuejsVW1d7","lastUpdated":"2026-04-17T05:16:32.000Z","lastUpdatedBy":"00u5m6b6h6YuejsVW1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-posture-checks/dpcxoiuot3o1sRPsU1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.178243083s
    - id: 1
      request:
        host: oie-00.dne-okta.com
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://oie-00.dne-okta.com/api/v1/device-posture-checks/dpcxoiuot3o1sRPsU1d7
        method: GET
      response:
        body: '{"name":"testAcc-1647730466","variableName":"testAccDiskEncryption1647730466","query":"SELECT 1 FROM disk_encryption WHERE encrypted = 1;","description":"Check disk encryption is enabled","platform":"MACOS","type":"CUSTOM","mappingType":"CHECKBOX","remediationSettings":{"message":{"defaultI18nKey":null,"customText":"Please enable disk encryption."},"link":{"defaultUrl":null,"customUrl":"https://support.apple.com/en-us/HT204837"}},"id":"dpcxoiuot3o1sRPsU1d7","createdDate":"2026-04-17T05:16:32.000Z","createdBy":"00u5m6b6h6YuejsVW1d7","lastUpdated":"2026-04-17T05:16:32.000Z","lastUpdatedBy":"00u5m6b6h6YuejsVW1d7","_links":{"self":{"href":"https://oie-00.dne-okta.com/api/v1/device-posture-checks/dpcxoiuot3o1sRPsU1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 836.808417ms
[...]
