---
page_title: "{{.Type}}: {{.Name}}"
subcategory: "Applications"
description: |-
{{ if .Description }}
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
{{ else }}
  Terraform {{.Type}} for {{.Name}}.
{{ end }}
---

# {{.Type}}: {{.Name}}

{{ if .Description }}
{{ .Description | trimspace }}
{{ else }}
Terraform {{.Type}} for {{.Name}}.
{{ end }}

## Links

- [Okta API docs](https://developer.okta.com/docs/api/openapi/okta-management/management/tag/ApplicationGroups/)
- [Provider source](https://github.com/okta/terraform-provider-okta/blob/master/okta/services/idaas/resource_okta_app_group_assignment.go)

## Related Resources

- [`okta_group`](../resources/group) — The group being assigned

~> **IMPORTANT:** When the `app_group_assignment` is retained, by 
setting `retain_assignment` to `true`, it is no longer managed by 
Terraform after it is destroyed. To truly delete the assignment, 
you will need to remove it either through the Okta Console or API. 
This argument exists for the use case where the same group is 
assigned in multiple places in order to prevent a single 
destruction removing all of them.

{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}