---
page_title: "{{.Type}}: {{.Name}}"
subcategory: "Customizations"
description: |-
{{ if .Description }}
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
{{ else }}
  Terraform {{.Type}} for {{.Name}}.
{{ end }}
---

# {{.Type}}: {{.Name}}

{{ if .Description }}
{{ .Description | trimspace }}
{{ else }}
Terraform {{.Type}} for {{.Name}}.
{{ end }}

## Links

- [Okta API docs](https://developer.okta.com/docs/api/openapi/okta-management/management/tag/CustomDomain/)
- [Provider source](https://github.com/okta/terraform-provider-okta/blob/master/okta/services/idaas/resource_okta_domain_certificate.go)

## Related Resources

- [`okta_domain`](../resources/domain) — Parent domain

{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}

## Let's Encrypt Certbot

This example demonstrates generatoring a domain certificate with letsencrypt
certbot https://letsencrypt.org/getting-started/

```
$ certbot certonly --manual --preferred-challenges dns --key-type rsa -d [DOMAIN]
```

Use letsencrypt's certbot to generate domain certificates in RSA output mode.
The generator's output corresponds to `okta_domain_certificate` fields in the
following manner.

Okta Field          | Certbot file
--------------------|--------------
`certificate`       | `cert.pem`
`certificate_chain` | `chain.pem`
`private_key`       | `privkey.pem`