---
page_title: "{{.Type}}: {{.Name}}"
subcategory: "Directory"
description: |-
{{ if .Description }}
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
{{ else }}
  Terraform {{.Type}} for {{.Name}}.
{{ end }}
---

# {{.Type}}: {{.Name}}

{{ if .Description }}
{{ .Description | trimspace }}
{{ else }}
Terraform {{.Type}} for {{.Name}}.
{{ end }}

## Links

- [Okta API docs](https://developer.okta.com/docs/api/openapi/okta-management/management/tag/Schema/)
- [Provider source](https://github.com/okta/terraform-provider-okta/blob/master/okta/services/idaas/resource_okta_user_custom_schema_property.go)

## Related Resources

- [`okta_user`](../resources/user) — Users
- [`okta_user_type`](../resources/user_type) — User type the schema belongs to

**IMPORTANT:** With `enum`, list its values as strings even though the `type`
may be something other than string. This is a limitation of the schema defintion
in the Terraform Plugin SDK runtime and we juggle the type correctly when making
Okta API calls. Same holds for the `const` value of `one_of` as well as the
`array_*` variation of `enum` and `one_of`.
{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}