---
page_title: "{{.Type}}: {{.Name}}"
subcategory: "Security"
description: |-
{{ if .Description }}
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
{{ else }}
  Terraform {{.Type}} for {{.Name}}.
{{ end }}
---

# {{.Type}}: {{.Name}}

{{ if .Description }}
{{ .Description | trimspace }}
{{ else }}
Terraform {{.Type}} for {{.Name}}.
{{ end }}

## Links

- [Okta API docs](https://developer.okta.com/docs/api/openapi/okta-management/management/tag/Policy/)
- [Provider source](https://github.com/okta/terraform-provider-okta/blob/master/okta/services/idaas/data_source_okta_entity_risk_policy.go)
- [SDK source](https://github.com/okta/okta-sdk-golang/blob/v6.1.6/okta/api_policy.go)

{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}
