---
page_title: "{{.Type}}: {{.Name}}"
subcategory: "Directory"
description: |-
{{ if .Description }}
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
{{ else }}
  Terraform {{.Type}} for {{.Name}}.
{{ end }}
---

# {{.Type}}: {{.Name}}

Use this data source to retrieve the `Everyone` group from Okta. The 
same can be achieved with the `okta_group` data
source with `name = "Everyone"`. This is simply a shortcut.

## Links

- [Okta API docs](https://developer.okta.com/docs/api/openapi/okta-management/management/tag/Group/)
- [Provider source](https://github.com/okta/terraform-provider-okta/blob/master/okta/services/idaas/data_source_okta_everyone_group.go)

{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}

{{- end }}
